body{
    background-color: rgb(152, 54, 177);
}
img:hover{
    background-color: rgba(197, 204, 103, 0.918);
}
/* estilo por etiqueta */
#nombre{
border: 2px solid black;
border-radius: 3px;
background-color: aqua;
}